/* Custom styles for OFYS */
.custom-shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Add any other custom styles your app needs */

/* Redirect to real CSS file */
@import url('../build/assets/app-CFTAco04.css');
